.videoizedText {
  margin: 0;
  font-size: 4.9rem;
  background-color: white;
  background-image: url("/assets/fluid-sim-interactive.gif");
  filter: brightness(140%);
  background-position: 40% 40%;
  background-clip: text;
  filter: invert(1);
  background-size: cover;
  mix-blend-mode: multiply;
  user-select: none;
}

